<form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <div class="mb-3 d-flex">
        <label for="productName" class="form-label w-25 me-3">Product Name:</label>
        <div>
            <input type="text" formControlName="productName" class="form-control" id="productName"
            placeholder="Product Name">
            <div *ngIf="formControl.productName.touched && formControl.productName.errors?.required" class="form-text text-danger">This Field is Required</div>
        </div>
    </div>
    <div class="mb-3 d-flex">
        <label for="price" class="form-label w-25 me-3">Price:</label>
        <div>
            <input type="text" formControlName="price" class="form-control" id="price" placeholder="Price">
            <div *ngIf="formControl.price.touched && formControl.price.errors?.required" class="form-text  text-danger">This Field is Required</div>
            <div *ngIf="formControl.price.touched && formControl.price.errors?.minlength" class="form-text  text-danger">Price digit should be more than 3</div>
            <div *ngIf="formControl.price.touched && formControl.price.errors?.maxlength" class="form-text  text-danger">Price digit should be less than 5</div>
        </div>
    </div>
    <div class="mb-3 d-flex">
        <label for="category" class="form-label w-25 me-3">Category:</label>
        <div>
            <select class="form-select" formControlName="category">
                <option [value]="0" disabled>Open this select menu</option>
                <option *ngFor="let categorie of categories" [value]="categorie.id"> {{categorie.name}}</option>
            </select>
            <div *ngIf="formControl.category.touched && formControl.category.errors?.required" class="form-text  text-danger">This Field is Required</div>
        </div>
    </div>
    <div class="mb-3 d-flex">
        <label for="quantity" class="form-label w-25 me-3">Quantity:</label>
        <div>
            <input type="number" formControlName="quantity" class="form-control" id="quantity" placeholder="Quantity">
            <div *ngIf="formControl.quantity.touched && formControl.quantity.errors?.required" class="form-text  text-danger">This Field is Required</div>
            <div *ngIf="formControl.quantity.touched && formControl.quantity.errors?.min" class="form-text  text-danger">Not less than 10</div>
        </div>
    </div>
    <div class="mb-3 d-flex">
        <label for="inStaock" class="form-label w-25 me-3">In Stock ?</label>
        <div class="form-check me-2">
            <input formControlName="stock" [value]="true" class="form-check-input" type="radio" id="yes">
            <label class="form-check-label" for="yes">
                Yes
            </label>
        </div>
        <div class="form-check">
            <input formControlName="stock" [value]="false" class="form-check-input" type="radio" id="no">
            <label class="form-check-label" for="no">
                No
            </label>
        </div>
    </div>
    <div class="form-check">
        <input formControlName="term" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Terms & Conditions
        </label>
        <div *ngIf="formControl.term.touched && formControl.term.errors?.required" class="form-text text-danger">This Field is Required</div>

    </div>
    <div class="d-flex">
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <button type="button" class="btn btn-success" (click)="resetForm()">Reset</button>
    </div>
</form>